<form [formGroup]='quoteForm' class='layout-quote-form'>
  <div class='quote-form-segment'>
    <h3 class='quote-form-segment-header'>Company info</h3>
    <div class='quote-form-segment-details'>
      <div class='quote-form-prop'>
        <label class='dropdown-label'>Company</label>
        <p-dropdown [autoWidth]='false' [options]='companyList' formControlName='companyCrtl' optionLabel='name'></p-dropdown>
        <div class='ui-input-error' *ngIf='quoteForm.controls.companyCrtl.errors'>
          <div *ngIf='quoteForm.controls.companyCrtl.errors.required'>Company is required</div>
        </div>
      </div>
    </div>
  </div>
  <div class='quote-form-segment'>
    <h3 class='quote-form-segment-header'>Quote details</h3>
    <div class='quote-form-segment-details'>
      <div class='quote-form-prop'>
        <span class='ui-float-label'>
          <input formControlName='quoteNumberCtrl' type='text' pInputText>
          <label>Quote Number</label>
        </span>
      </div>
      <div class='quote-form-prop'>
        <label class='dropdown-label'>Creation Date</label>
        <p-calendar formControlName='creationDateCtrl'></p-calendar>
      </div>
      <div class='quote-form-prop'>
        <label class='dropdown-label'>Expiration Date</label>
        <p-calendar formControlName='expirationDateCtrl'></p-calendar>
      </div>
      <div class='quote-form-prop'>
        <span class='ui-float-label'>
          <input formControlName='preparedByCtrl' type='text' pInputText>
          <label>Prepared By</label>
        </span>
      </div>
    </div>
  </div>
  <div class='quote-form-segment'>
    <h3 class='quote-form-segment-header'>Customer info</h3>
    <div class='quote-form-segment-details'>
      <div class='quote-form-prop'>
        <label class='dropdown-label'>Client Name</label>
        <p-autoComplete formControlName='clientCtrl' [suggestions]='filteredCustomer' (onBlur)='customerSelected()' (onDropdownClick)='selectCustomer($event)'
          (completeMethod)='filterCustomer($event)' field='name'></p-autoComplete>
        <div class='ui-input-error' *ngIf='quoteForm.controls.clientCtrl.errors'>
          <div *ngIf='quoteForm.controls.clientCtrl.errors.required'>Customer is required</div>
        </div>
      </div>
    </div>
  </div>
  <ng-container formArrayName='clientDetailArray' *ngFor='let customer of clientDetailArray.controls; let i = index;'>
    <div class='quote-form-segment'>
      <h4 *ngIf='i === 0' class='quote-form-sub-segment-header'>Ship to</h4>
      <h4 *ngIf='i === 1' class='quote-form-sub-segment-header'>Bill to</h4>
      <div class='quote-form-segment-details' [formGroupName]='i'>
        <div class='quote-form-prop'>
          <span class='ui-float-label'>
            <input formControlName='nameCtrl' type='text' pInputText>
            <label>Client Name</label>
            <div class='ui-input-error' *ngIf='customer.controls.nameCtrl.errors'>
              <div *ngIf='customer.controls.nameCtrl.errors.required'>Customer name is required</div>
            </div>
          </span>
        </div>
        <div class='quote-form-prop'>
          <span class='ui-float-label'>
            <input formControlName='contanctNameCtrl' type='text' pInputText>
            <label>Contact Name</label>
            <div class='ui-input-error' *ngIf='customer.controls.contanctNameCtrl.errors'>
              <div *ngIf='customer.controls.contanctNameCtrl.errors.required'>Customer name is required</div>
            </div>
          </span>
        </div>
        <div class='quote-form-prop'>
          <span class='ui-float-label'>
            <input formControlName='contanctEmailCtrl' type='text' pInputText>
            <label>Contact Email</label>
            <div class='ui-input-error' *ngIf='customer.controls.contanctEmailCtrl.errors'>
              <div *ngIf='customer.controls.contanctEmailCtrl.errors.required'>Customer name is required</div>
            </div>
          </span>
        </div>
        <div class='quote-form-prop'>
          <span class='ui-float-label'>
            <input formControlName='contanctAddressCtrl' type='text' pInputText>
            <label>Contact Address</label>
            <div class='ui-input-error' *ngIf='customer.controls.contanctAddressCtrl.errors'>
              <div *ngIf='customer.controls.contanctAddressCtrl.errors.required'>Customer name is required</div>
            </div>
          </span>
        </div>
        <div class='quote-form-prop'>
          <span class='ui-float-label'>
            <input formControlName='cityCtrl' type='text' pInputText>
            <label>City</label>
            <div class='ui-input-error' *ngIf='customer.controls.cityCtrl.errors'>
              <div *ngIf='customer.controls.cityCtrl.errors.required'>Customer name is required</div>
            </div>
          </span>
        </div>
        <div class='quote-form-prop'>
          <span class='ui-float-label'>
            <input formControlName='postalCodeCtrl' type='text' pInputText>
            <label>Postal Code</label>
            <div class='ui-input-error' *ngIf='customer.controls.postalCodeCtrl.errors'>
              <div *ngIf='customer.controls.postalCodeCtrl.errors.required'>Customer name is required</div>
            </div>
          </span>
        </div>
        <div class='quote-form-prop'>
          <span class='ui-float-label'>
            <input formControlName='countryCtrl' type='text' pInputText>
            <label>Country</label>
            <div class='ui-input-error' *ngIf='customer.controls.countryCtrl.errors'>
              <div *ngIf='customer.controls.countryCtrl.errors.required'>Customer name is required</div>
            </div>
          </span>
        </div>
      </div>
    </div>
  </ng-container>
  <div class='quote-form-segment' formArrayName='productsArrayCtrl'>
    <h3 class='quote-form-segment-header'>Products</h3>
    <div class='quote-form-segment-details' *ngFor='let product of productsArrayCtrl.controls; let i = index;' [formGroupName]='i'>
      <div class='quote-form-prop'>
        <label class='dropdown-label'>Product</label>
        <p-dropdown [autoWidth]='false' [options]='productList' formControlName='productCtrl' optionLabel='name'></p-dropdown>
      </div>
      <div class='quote-form-prop'>
        <span class='ui-float-label'>
          <input formControlName='productQtyCtrl' type='number' pInputText>
          <label>Quantity</label>
        </span>
      </div>
      <div class='quote-form-prop'>
        <p-button (onClick)='addNewProduct()' class='add-product-button' icon='fa fa-fw fa-plus'></p-button>
        <p-button (onClick)='removeProduct(i)' class='remove-product-button' icon='fa fa-fw fa-minus'></p-button>
      </div>
    </div>
  </div>
  <div class='quote-form-segment'>
    <h3 class='quote-form-segment-header'>Actions</h3>
    <div class='quote-form-actions'>
      <p-button class='quote-form-action' icon='fa fa-eraser' iconPos='right' (click)='resetForm()' label='Clear'></p-button>
      <p-button class='quote-form-action' icon='fa fa-floppy-o' iconPos='right' (click)='saveQuote()' label='Save'></p-button>
    </div>
  </div>
</form>