<div class='layout-quote'>
  <qto-header>
    <h1 class='header--text'>Quote List</h1>
    <p-button icon="fa fa-fw fa-plus" iconPos="right" routerLink='add' label='Add'></p-button>
  </qto-header>
  <div class='layout-quote-list'>
    <p-dataList [value]='quotes' [paginator]='true' [rows]='5'>
      <ng-template let-quote pTemplate='quote'>
        <div class='layout-quote-item'>
          <div class='layout-quote-details'>
            <div class='quote-item-key'>ID: </div>
            <div class='quote-item-value'>{{quote.id}}</div>
            <div class='quote-item-key'>Company: </div>
            <div class='quote-item-value'>{{quote.company.name}}</div>
            <div class='quote-item-key'>client: </div>
            <div class='quote-item-value'>{{quote.client.name}}</div>
            <div class='quote-item-products'>
              <table class='products-table'>
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Subtotal</th>
                  </tr>
                </thead>
                <tr *ngFor='let item of quote.products'>
                  <td>{{item.product.sku}} - {{item.product.name}}</td>
                  <td class='number'>{{item.quantity}}</td>
                  <td class='number'>{{item.product.price[0].currency}} {{item.product.price[0].price}}</td>
                  <td class='number'>{{item.product.price[0].currency}} {{item.quantity * item.product.price[0].price}}</td>
                </tr>
              </table>
            </div>
          </div>
          <div class='layout-quote-options'>
            <p-button routerLink='edit' label='edit'></p-button>
            <p-button (click)='generatePDF()' label='pdf'></p-button>
          </div>
        </div>
      </ng-template>
    </p-dataList>
  </div>
</div>