@import '../../../../styles/variables';

.layout-quote-add {
  width: 100%;
  border: 1px solid $divider-color;
}

.layout-quote-add-form {
  padding: 2rem 1rem;
}

.quote-add-segment-header {
  font-weight: 700;
  padding: 0 0 0.75rem 1.75rem;
  border-bottom: 2px solid $divider-color;
}

.quote-add-sub-segment-header {
  font-weight: 700;
  padding: 0 0 0.5rem 2rem;
  border-bottom: 1px solid $divider-color;
}

.quote-add-segment-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.quote-add-prop {
  position: relative;
  flex: 0 0 30%;
  margin-top: 1.5rem;
  margin-right: 5%;
  padding-bottom: 1.75rem;
}

.quote-add-prop:nth-child(3n) {
  margin-right: 0;
}

// trick to show plus only @ the end and remore except end
.add-product-button {
  display: none;
}

.quote-add-segment-details:nth-last-child(1) .quote-add-prop {
  .add-product-button {
    display: inline-block;
  }

  .remove-product-button {
    display: none;
  }
}
