<div class='layout-quote-add'>
  <qto-header>
    <h1 class='header--text'>Quote add</h1>
    <p-button icon='fa fa-fw fa-plus' iconPos='right' (click)='addQuote()' label='Add'></p-button>
  </qto-header>
  <form [formGroup]='quote' class='layout-quote-add-form'>
    <div class='quote-add-segment'>
      <h3 class='quote-add-segment-header'>Company info</h3>
      <div class='quote-add-segment-details'>
        <div class='quote-add-prop'>
          <label class='dropdown-label'>Company</label>
          <p-dropdown [autoWidth]='false' [options]='company' formControlName='companyCrtl' optionLabel='name'></p-dropdown>
        </div>
      </div>
    </div>
    <div class='quote-add-segment'>
      <h3 class='quote-add-segment-header'>Quote details</h3>
      <div class='quote-add-segment-details'>
        <div class='quote-add-prop'>
          <span class='ui-float-label'>
            <input formControlName='quoteNumberCtrl' type='text' pInputText>
            <label>Quote Number</label>
          </span>
        </div>
        <div class='quote-add-prop'>
          <label class='dropdown-label'>Creation Date</label>
          <p-calendar formControlName='creationDateCtrl'></p-calendar>
        </div>
        <div class='quote-add-prop'>
          <label class='dropdown-label'>Expiration Date</label>
          <p-calendar formControlName='expirationDateCtrl'></p-calendar>
        </div>
        <div class='quote-add-prop'>
          <span class='ui-float-label'>
            <input formControlName='preparedByCtrl' type='text' pInputText>
            <label>Prepared By</label>
          </span>
        </div>
      </div>
    </div>
    <div class='quote-add-segment'>
      <h3 class='quote-add-segment-header'>Customer info</h3>
      <div class='quote-add-segment-details'>
        <div class='quote-add-prop'>
          <label class='dropdown-label'>Client Name</label>
          <p-autoComplete formControlName='clientCtrl' [suggestions]='filteredCustomer' (onSelect)='selectCustomer($event)' (completeMethod)='filterCustomer($event)'
            field='name'></p-autoComplete>
        </div>
      </div>
    </div>
    <ng-container formArrayName='clientDetailArray' *ngFor='let customer of clientDetailArray.controls; let i = index;'>
      <div class='quote-add-segment'>
        <h4 *ngIf='i === 0' class='quote-add-sub-segment-header'>Ship to</h4>
        <h4 *ngIf='i === 1' class='quote-add-sub-segment-header'>Bill to</h4>
        <div class='quote-add-segment-details' [formGroupName]='i'>
          <div class='quote-add-prop'>
            <span class='ui-float-label'>
              <input formControlName='nameCtrl' type='text' pInputText>
              <label>Client Name</label>
            </span>
          </div>
          <div class='quote-add-prop'>
            <span class='ui-float-label'>
              <input formControlName='contanctNameCtrl' type='text' pInputText>
              <label>Contact Name</label>
            </span>
          </div>
          <div class='quote-add-prop'>
            <span class='ui-float-label'>
              <input formControlName='contanctEmailCtrl' type='text' pInputText>
              <label>Contact Email</label>
            </span>
          </div>
          <div class='quote-add-prop'>
            <span class='ui-float-label'>
              <input formControlName='contanctAddressCtrl' type='text' pInputText>
              <label>Contact Address</label>
            </span>
          </div>
          <div class='quote-add-prop'>
            <span class='ui-float-label'>
              <input formControlName='cityCtrl' type='text' pInputText>
              <label>City</label>
            </span>
          </div>
          <div class='quote-add-prop'>
            <span class='ui-float-label'>
              <input formControlName='postalCodeCtrl' type='text' pInputText>
              <label>Postal Code</label>
            </span>
          </div>
          <div class='quote-add-prop'>
            <span class='ui-float-label'>
              <input formControlName='countryCtrl' type='text' pInputText>
              <label>Country</label>
            </span>
          </div>
        </div>
      </div>
    </ng-container>
    <div class='quote-add-segment' formArrayName='productsArrayCtrl'>
      <h3 class='quote-add-segment-header'>Products</h3>
      <div class='quote-add-segment-details' *ngFor='let product of productsArrayCtrl.controls; let i = index;' [formGroupName]='i'>
        <div class='quote-add-prop'>
          <label class='dropdown-label'>Product</label>
          <p-dropdown [autoWidth]='false' [options]='products' formControlName='productCtrl' optionLabel='name'></p-dropdown>
        </div>
        <div class='quote-add-prop'>
          <span class='ui-float-label'>
            <input formControlName='productQtyCtrl' type='number' pInputText>
            <label>Quantity</label>
          </span>
        </div>
        <div class='quote-add-prop'>
          <p-button (onClick)='addNewProduct()' class='add-product-button' icon='fa fa-fw fa-plus'></p-button>
          <p-button (onClick)='removeProduct(i)' class='remove-product-button' icon='fa fa-fw fa-minus'></p-button>
        </div>
      </div>
    </div>
  </form>
</div>