<div class='layout-product-list'>
  <qto-header>
    <span class='header--text'>Products</span>
    <p-button icon="fa fa-fw fa-plus" iconPos="right" routerLink='add' label='Add'></p-button>
  </qto-header>
  <p-dataList [value]='productList' [paginator]='true' [rows]='5'>
    <ng-template let-product pTemplate='product'>
      <div class='product-list-item-container'>
        <div class='product-list-item-image'></div>
        <div class='product-list-item-details'>
          <div class='product-list-item-header'>
            <div class='detail-header'>SKU</div>
            <div class='detail-value'>{{product.sku}}</div>
            <div class='detail-header'>Item name</div>
            <div class='detail-value'>{{product.name}}</div>
            <ng-template ngFor let-category [ngForOf]="product.categories">
              <div class='detail-header'>Category</div>
              <div class='detail-value'>{{category?.description}}</div>
            </ng-template>
            <div class='detail-header'></div>
            <div class='detail-value'></div>
            <ng-template ngFor let-price [ngForOf]="product.price">
              <div class='detail-header'>Price</div>
              <div class='detail-value'>{{price.currency}} {{price.price}}</div>
            </ng-template>
          </div>
          <div *ngIf='product.description' class='product-list-item-desc' [innerHTML]='product.description'></div>
        </div>
      </div>
    </ng-template>
  </p-dataList>
</div>