@import '../../../../styles/variables';
.layout-product-list{
  min-height: 100%;
  color: $primary-text-color;
  border: 1px solid $divider-color;}

.header{
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  background: $primary-color;
  color: $primary-color-text;
  border-bottom: 1px solid $divider-color;
  display: flex;
  justify-content: space-between;}
