/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import 'overlay';

/**** BASE ****/

html {
  height: 100%;
  font-size: $font-size;
}

body {
  font-family: $font-family;
  min-height: 100%;
}

input {
  font: inherit;
}

div {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

button {
  border-radius: 5px;
  font: inherit;
  border-width: 1px;
  border-style: solid;
}

/**** LAYOUT ****/

/**** MODULES ****/
/* OVERLAY */
@include cdk-overlay();

/* PROGRESS BAR */
.ui-progressbar {
  height: 6px;
  position: absolute;
  z-index: 40;
  width: 100%;
}

/* MENU */
.ui-menu {
  width: auto;

  .ui-menuitem-link {
    border-radius: 5px;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

/* FORMS - USER INPUT */
%common-ui-input-border {
  width: 100%;
  border: 0px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

%common-ui-input {
  font-size: 1em;
  padding: 2px 2px 1px 2px;
}

%common-ui-input-focus-border {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

%common-ui-input-focus {
  padding-bottom: 0px;
}

.ui-inputtext {
  @extend %common-ui-input;
  @extend %common-ui-input-border;
}

.ui-float-label > input:focus ~ label,
.ui-float-label > input.ui-state-filled ~ label,
.ui-float-label > .ui-inputwrapper-focus ~ label,
.ui-float-label > .ui-inputwrapper-filled ~ label {
  font-size: 0.75em;
}

.ui-inputtext:focus {
  @extend %common-ui-input-focus;
  @extend %common-ui-input-focus-border;
}

.ui-state-disabled {
  opacity: 0.6;
}

.ui-input-error {
  position: absolute;
  font-size: 0.75em;
  padding-left: 1em;
  padding-top: 0.5em;
}

/* FORMS - SELECT */
.ui-dropdown {
  @extend %common-ui-input-border;

  label {
    line-height: normal;
  }

  .ui-dropdown-trigger {
    margin-top: -1px;

    .fa {
      margin-top: 0.2em;
      margin-left: 0;
    }
  }
}

.ui-dropdown.ui-state-focus {
  @extend %common-ui-input-focus-border;
}

.ui-dropdown.ui-state-focus .ui-dropdown-label {
  @extend %common-ui-input-focus;
}

.dropdown-label {
  font-size: 0.75rem;
  position: absolute;
  top: -1.25em;
}

// .fa-caret-down:before {
//   content: '\f107';
// }

.ui-dropdown-panel .ui-dropdown-list {
  padding: 0px;
}

/* FORMS - AUTOCOMPLETE */
.ui-autocomplete {
  width: 100%;
}

.ui-autocomplete-panel .ui-autocomplete-items {
  padding: 0px;
}

/* FORMS - CALLENDAR */
.ui-calendar {
  width: 100%;
}

/* FORMS - DYNAMIC CONTENT */
.form-control-prop {
  position: relative;
  flex: 0 0 30%;
  margin-top: 1.5rem;
  margin-right: 5%;
  padding-bottom: 1.75rem;
}

.form-control-prop:nth-child(3n) {
  margin-right: 0;
}

/**** STATE ****/

@import 'themes';
