/* You can add global styles to this file, and also import other style files */
@import 'variables';
/**** BASE ****/

html body {  
  
  color: $primary-text-color;
}

html {
  height: 100%;
  font-size: $font-size;
}

body {
  font-family: $font-family;
  min-height: 100%;
}

input {
  font: inherit;
}

div {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  border: 1px solid $accent-color;
  border-radius: 5px;
  background-color: $accent-color;
  color: $primary-color-text;
  font: inherit;
}

/**** LAYOUT ****/

/**** MODULES ****/

/* PROGRESS BAR */
.ui-progressbar {
  background-color: $primary-color-light;
  height: 6px;
  position: absolute;
  z-index:40;
  width: 100%;
}

.ui-progressbar-value { 
  background-color: $primary-color-dark;
}

/* MENU */
.ui-menu {
  width: auto;
  .ui-menuitem-link {
    background-color: $accent-color;
    color: $primary-color-text;
    border-radius: 5px;
    padding-top: 1em;
    padding-bottom: 1em;
    &.ui-state-active {
      background-color: $primary-color-dark;
    }
  }
  .ui-menuitem-link:hover {
    background-color: $primary-color;
    color: $primary-color-text
  }
}

/* ERROR MESSAGES */
.ui-growl-item-container {
  background: $primary-color-dark;
  color: $primary-color-text;
}
/* FORMS - USER INPUT */
%common-ui-input-border {
  width: 100%;
  border: 0px;
  border-bottom: 1px solid $primary-color-light;
}

%common-ui-input {
  font-size: 1em;
  padding: 2px 2px 1px 2px;
}

%common-ui-input-focus-border {
  border-bottom: 2px solid $primary-color;
}
%common-ui-input-focus {
  padding-bottom: 0px;
}

.ui-inputtext {
  @extend %common-ui-input;
  @extend %common-ui-input-border;
  color: $primary-text-color;
}

.ui-float-label > label {
  color: $primary-text-color;
}

.ui-float-label>input:focus ~ label,
.ui-float-label>input.ui-state-filled ~ label,
.ui-float-label>.ui-inputwrapper-focus ~ label,
.ui-float-label>.ui-inputwrapper-filled ~ label {
  font-size: .75em;
}

.ui-inputtext:focus {
  @extend %common-ui-input-focus;
  @extend %common-ui-input-focus-border;
}

.ui-state-disabled {
  opacity: .6;
}

/* FORMS - SELECT */
.ui-dropdown {
  @extend %common-ui-input-border;
  label {
    line-height: normal;
  }
  .ui-dropdown-trigger {
    margin-top: -1px;
    .fa {
      margin-top: .2em;
      margin-left: 0; 
    }
  }
}

.ui-dropdown.ui-state-focus {
  @extend %common-ui-input-focus-border;
}

.ui-dropdown.ui-state-focus .ui-dropdown-label{
  @extend %common-ui-input-focus;
}

.dropdown-label {
  font-size: .75rem;
  position: absolute;
  top: -1.25em;
}

.fa-caret-down:before {
  content: '\f107'
}
.ui-dropdown-panel {
  background-color: $white;
  & .ui-dropdown-list {
    padding: 0px;
  }
}

.ui-dropdown-item:hover{
  background-color: $primary-color-light;
  color: $primary-color-text;
}

.ui-dropdown-item {
  background-color: $white;
  &.ui-state-highlight{
    background-color: $primary-color;
    color: $primary-color-text;
  }
}

/**** STATE ****/

/**** THEMES ****/
