/* You can add global styles to this file, and also import other style files */
@import 'variables';
/**** BASE ****/

html body {  
  font-size: $font-size;
  color: $primary-text-color;
}

html {
  height: 100%;
}

body {
  font-family: $font-family;
  min-height: 100%;
}

div {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  border: 1px solid $accent-color;
  border-radius: 3px;
  background-color: $accent-color;
  color: $primary-color-text;
  font: inherit;
}

/**** LAYOUT ****/

/**** MODULES ****/

/**** STATE ****/

/**** THEMES ****/
