<div class='layout-product-add'>
  <qto-header>
    <span class='header-text'>Add Product</span>
    <p-button type='button' (onClick)='postProduct()' [disabled]='product.invalid' label='Add' icon='fa fa-fw fa-plus' iconPos='right'></p-button>
  </qto-header>
  <form [formGroup]='product' class='layout-product-add-form'>
    <div class='product-add-prop'>
      <span class='ui-float-label'>
        <input type='text' size='30' pInputText formControlName='productSku' required>
        <label>SKU</label>
      </span>
      <div class='ui-input-error' *ngIf='productSku.errors'>
        <div *ngIf='productSku.errors.skuExists'>SKU already exists</div>
        <div *ngIf='productSku.errors.required'>SKU is required</div>
      </div>
    </div>
    <div class='product-add-prop'>
      <span class='ui-float-label'>
        <input type='text' size='30' formControlName='productName' pInputText>
        <label>Item name:</label>
        <div class='ui-input-error' *ngIf='productName.errors'>
          <div *ngIf='productName.errors.required'>Name is required</div>
        </div>
      </span>
    </div>
    <div class='product-add-prop'>
      <label class='dropdown-label'>Product category</label>
      <p-dropdown [autoWidth]='false' [options]='productCategory$ | async' formControlName='productCategoryCtrl' optionLabel='description'></p-dropdown>
    </div>
    <div class='product-add-prop-full-width' [ngClass]='{ "no-padding": last }' formArrayName='prices' *ngFor='let price of prices.controls; let i = index; let last = last'>
      <div class='product-price-line' [formGroupName]='i'>
        <label class='dropdown-label'>Currency</label>
        <p-dropdown [options]='currencyListArray[i]' [disabled]='!last' [autoWidth]='false' formControlName='currency'></p-dropdown>
        <div class='price-value-input'>
          <span class='ui-float-label'>
            <input type='number' size='30' formControlName='price' pInputText>
            <label>Price</label>
          </span>
          <div class='ui-input-error' *ngIf='price.controls.price.errors'>
            <div *ngIf='price.controls.price.errors.required'>Prce is required</div>
            <div *ngIf='price.controls.price.errors.min'>Minimal price is 0</div>

          </div>
        </div>
        <ng-container *ngIf='last'>
          <p-button [disabled]='disableAdd' (onClick)="addPrice(i)" class='add-price-button' icon="fa fa-fw fa-plus"></p-button>
          <p-button [disabled]='disableRemove' (onClick)="removePrice(i)" class='add-price-button' icon="fa fa-fw fa-minus"></p-button>
        </ng-container>
      </div>
    </div>
    <div class='product-add-prop-full-width no-padding'>
      <p-editor class='product-add-desc-editor' formControlName='description' [style]="{'height': '320px'}"></p-editor>
    </div>

    <button pButton type='reset' label='Clear'></button>
  </form>
</div>
