<div class='layout-login-page'>
  <form class='login-form' [formGroup]='loginForm'>
    <div class='login-icon'>
      <i class='fa fa-3x fa-user'></i>
    </div>
    <div class='login-form-item'>
      <span class='ui-float-label'>
        <input type='text ' pInputText formControlName='email' />
        <label>email</label>
      </span>
    </div>
    <div class='login-form-item'>
      <span class='ui-float-label'>
        <input type='password' pInputText formControlName='password' />
        <label>password:</label>
      </span>
    </div>
    <div class='login-from-actions'>
      <p-button type='submit' label='login' (onClick)='login()'></p-button>
    </div>
  </form>
  <div class="error-message" *ngIf='message'>
    <span class='error-message-message'>{{message}}</span>
  </div>
</div>