@import '../../../../styles/variables';

.header {
  font-size: 1.5rem;
  min-height: 5em;
  padding: 0 4rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
