@import '../../../../styles/variables';

.header {
  font-size: 1.5rem;
  min-height: 5em;
  padding: 0 4rem;
  background: $primary-color;
  color: $primary-color-text;
  border-bottom: 1px solid $divider-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}